---
// Importuj potrzebne komponenty
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { Card, CardGrid } from '@astrojs/starlight/components';

import {items} from '../../astro.config.mjs'
---

<StarlightPage frontmatter={{ title: 'My custom page', tableOfContents: false }}>

{items.map((e) => (
    <div style="margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
        <div style="font-weight: bold; font-size: 18px; color: #333; margin-bottom: 5px;">
            {e.label}
        </div>
        {e.items.map((el) => (
            <a href={`${e.label.toLowerCase()}/${el.label.toLowerCase()}`} style="padding-left: 15px; color: #555;">
                • {el.label} {/* Przykład wprowadzenia znaku punktu przed etykietą */}
            </a>
        ))}
    </div>
))}


    <h1>Congrats on setting up a new Starlight project!</h1>
    <CardGrid stagger>
        <Card title="Update content" icon="pencil">
            Edit `src/content/docs/index.mdx` to see this page change.
        </Card>
        <Card title="Add new content" icon="add-document">
            Add Markdown or MDX files to `src/content/docs` to create new pages.
        </Card>
        <Card title="Configure your site" icon="setting">
            Edit your `sidebar` and other config in `astro.config.mjs`.
        </Card>
        <Card title="Read the docs" icon="open-book">
            Learn more in [the Starlight Docs](https://starlight.astro.build/).
        </Card>
    </CardGrid>

</StarlightPage>